#wrapper {
    width: 960px;
    margin: auto;
    outline: 1px dashed #333;
}

header, footer {
    height: 60px;
    overflow: hidden;
    width: 100%;
}

div {
    outline: 1px dashed #333;
    min-height: 130px;
    overflow: hidden;    
}

.athird {
    width: 320px;
    float: left;
}

.half {
    width: 480px;
    float: left;
}

.halfhalf {
    width: 240px;
    min-height: 60px;
    float: left;
}

@media screen and (max-width: 1024px) {
    #wrapper {
        width: 94%;
    }
    
    .athird {
        width: 33.33333333%;
    }
    
    .half, .halfhalf {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    
    div {
        min-height: 60px;
    }

    .athird, .half {
        width: 100%;
        float: none;
    }
}



@media screen and (max-width: 480px) {
    
    div {
        min-height: 20px;
    }

    .halfhalf {
        width: 100%;
        float: none;
        min-height: 30px;
    }
    
    footer, header {
        height: auto;
    }
    
}